/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    display: table; /* 2 */
    content: " "; /* 1 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  overflow-x: hidden;
  box-sizing: border-box;
  color: #232323;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  font-family: 'Sintony', sans-serif;
}

h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: 700;
  font-size: 3.2em;
  line-height: 1;
}

h2 {
  color: #888888;
  text-align: center;
  font-weight: 300;
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  text-transform: uppercase;
  font-size: 1.6em;
}

h3.intro {
  margin: 75px auto;
  color: #888888;
  text-transform: none;
  font-weight: 400;
  font-style: italic;
  font-family: 'Droid Serif', serif;
}

h3.intro a {
  text-decoration: underline;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a {
  color: #888888;
  text-decoration: none;
}

a:hover {
  color: #f01e49;
}

p, li {
  margin: 10px 0 15px 0;
  font-size: 1em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: middle;
  text-align: center;
}

ul, ol, dl {
  margin: 0;
  padding: 0;
}

.header{
  box-sizing: border-box;
  padding: 20px;
  background-color: #fffffa;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.header a {
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition:    opacity .1s ease-in-out;
  -ms-transition:     opacity .1s ease-in-out;
  -o-transition:      opacity .1s ease-in-out;
  transition:         opacity .1s ease-in-out;
}

.header a:hover {
  opacity: .6;
}

.navbar {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  background-color: #fffffa;
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  height: 48px;
}

.burger-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  display: inline-block;
  margin-top: 10px;
  width: 40px;
  height: 48px;
  border: none;
  background: none;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  margin: 4px 0;
  height: 5px;
  background-color: #232323;
  font-size: 1px;
}

.burger-menu:before {
  display: block;
  height: 5px;
  background-color: #232323;
  content: '';
  font-size: 1px;
}

.burger-menu:after {
  display: block;
  height: 5px;
  background-color: #232323;
  content: '';
  font-size: 1px;
}

.show-menu .burger-menu span, .show-menu .burger-menu:before, .show-menu .burger-menu:after {
  background-color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition:    opacity .3s ease-in;
  -ms-transition:     opacity .3s ease-in;
  -o-transition:      opacity .3s ease-in;
  transition:         opacity .3s ease-in;
}

.show-menu .overlay {
  opacity: 1;
}

.show-menu .main-nav {
  left: 0;
  box-shadow: 1px 0px 5px rgba(0,0,0,.2);
}

.main-nav {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 50;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 80px;
  width: calc(100% - 80px);
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 0px 5px rgba(0,0,0,1);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -ms-transition:     all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}

.main-nav ul {
  overflow-y: auto;
  height: 90%;
}

.main-nav li {
  display: block;
  margin: 0;
  list-style: none;
  text-align: left;
  font-size: 1em;
}

.main-nav a {
  display: block;
  padding: 10px 0 10px 30px;
  border-bottom: 1px solid #eee;
  color: #888;
  text-decoration: none;
}

.main-nav a:hover, .main-nav a.actived {
  color: #f01e49;
}

.github-btn {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
}

.github-btn iframe {
  margin: 0 auto;
}

.list {
  margin-bottom: 75px;
}

.list li {
  box-sizing: border-box;
  margin-left: 20px;
  list-style-type: circle;
  vertical-align: middle;
}

.list li img, .list li span {
  display: inline-block;
  vertical-align: middle;
}

.list li img {
  width: 35px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  margin: 0 auto;
  padding: 0 50px;
}

.footer {
  box-shadow: 0 -1px 5px rgba(0,0,0,.2);
  text-align: center;
}

.footer p{
  display: inline-block;
  font-size: .8em;
}

.twitter-share {
  display: inline-block;
  margin-left: 20px;
  padding-top: 5px;
  vertical-align: middle;
}

.fb-share {
  display: inline-block;
  margin-left: 20px;
  padding-top: 5px;
  vertical-align: middle;
}


/*******************************************************************************
Media Queries - mobile first approach
*******************************************************************************/

@media screen and (min-width:768px) {
  .header h1 {
    margin-top: 250px;
    font-size: 7em;
  }
  .header h2 {
    font-size: 3em;
  }
  p, li {
    font-size: 1.2em;
  }
  .inner {
    max-width: 740px;
  }

  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10% 10px 10%;
    padding-top: 0;
    width: 100%;
    height: auto;
    background: none;
    background-color: #fffffa;
    box-shadow: none;
    text-align: center;
  }
  .main-nav li {
    display: inline-block;
    margin: 0;
    width: auto;
    list-style: none;
    font-size: .9em;
  }
  .main-nav li:after {
    padding: 0 5px;
    content: '|';
  }
  .main-nav li:last-child:after {
    padding-right: 0;
    content: '';
  }
  .main-nav a {
    display: inline-block;
    padding: 5px 0;
    border: none;
  }
  .burger-menu {
    display: none;
  }
  .follows li {
    float: left;
    width: 47%;
  }
}
